body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-top: 0;
}

.recording-section {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.results-section {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.results-section > div {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    width: 50%;
    box-sizing: border-box;
}

#transcription, #translation {
    margin-bottom: 0; /* Remove the margin */
}

[id^="translation-"] {
    user-select: none;
    -webkit-user-select: none; /* 古いSafari/Chrome対策 */
    -moz-user-select: none;    /* 古いFirefox対策 */
    -ms-user-select: none;     /* 古いIE対策 */
}

#summary-by-gpt, #prompt {
    width: 100%;
    height: 200px;
}
